<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardShuffling01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{62,111}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,111}}</string>
                <key>sourceSize</key>
                <string>{62,185}</string>
            </dict>
            <key>cardShuffling02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{62,127}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,127}}</string>
                <key>sourceSize</key>
                <string>{62,185}</string>
            </dict>
            <key>cardShuffling03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,145}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,145}}</string>
                <key>sourceSize</key>
                <string>{62,185}</string>
            </dict>
            <key>cardShuffling04.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,173}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,173}}</string>
                <key>sourceSize</key>
                <string>{62,185}</string>
            </dict>
            <key>cardShuffling05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,179}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,179}}</string>
                <key>sourceSize</key>
                <string>{62,185}</string>
            </dict>
            <key>cardShuffling06.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,143}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{62,143}}</string>
                <key>sourceSize</key>
                <string>{62,185}</string>
            </dict>
            <key>cardShuffling07.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{62,123}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{62,123}}</string>
                <key>sourceSize</key>
                <string>{62,185}</string>
            </dict>
            <key>cardShuffling08.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,115},{62,109}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{62,109}}</string>
                <key>sourceSize</key>
                <string>{62,185}</string>
            </dict>
            <key>cardShuffling09.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,131},{62,107}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,107}}</string>
                <key>sourceSize</key>
                <string>{62,185}</string>
            </dict>
            <key>cardShuffling10.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,127},{62,111}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,111}}</string>
                <key>sourceSize</key>
                <string>{62,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardSet02ShuffleSpritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{450,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e21490b68d6dd95595b9511e0e52d314:b1ba135102ff95c5c4a8fbacc577904f:5f128ae82c52b0152cf9df1b224a92bc$</string>
            <key>textureFileName</key>
            <string>CardSet02ShuffleSpritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
