<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c22.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c23.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c24.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c25.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c26.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c27.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c28.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c29.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c30.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c31.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c32.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c33.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c34.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c35.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c36.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c37.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c38.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c39.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c40.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c41.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c42.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c43.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c44.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c45.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c46.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c47.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c48.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c49.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c50.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c51.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>c52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,94}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardSet02Spritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{1730,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2de3175ec5815255c8a6c2bc5230f3cd:7100b73ed7120dfdd3f53a39b2d2a324:4c6d96dcdbb2e43b7f0db1855d6c04f3$</string>
            <key>textureFileName</key>
            <string>CardSet02Spritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
