<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basic01.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>basic01_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,120},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>basic02.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>basic02_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,2},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>basic03.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>basic03_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,120},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>basic04.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>basic04_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>basic05.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>basic05_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,120},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>basic06.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>basic06_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,173},{200,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,55}}</string>
                <key>sourceSize</key>
                <string>{200,55}</string>
            </dict>
            <key>button_backC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,116},{200,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,55}}</string>
                <key>sourceSize</key>
                <string>{200,55}</string>
            </dict>
            <key>button_editAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,59},{271,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,55}}</string>
                <key>sourceSize</key>
                <string>{271,55}</string>
            </dict>
            <key>button_editAvatarC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,2},{271,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,55}}</string>
                <key>sourceSize</key>
                <string>{271,55}</string>
            </dict>
            <key>button_editName.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,148},{271,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,55}}</string>
                <key>sourceSize</key>
                <string>{271,55}</string>
            </dict>
            <key>button_editNameC.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,148},{271,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,55}}</string>
                <key>sourceSize</key>
                <string>{271,55}</string>
            </dict>
            <key>button_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,148},{325,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,55}}</string>
                <key>sourceSize</key>
                <string>{325,55}</string>
            </dict>
            <key>button_saveC.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{325,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,55}}</string>
                <key>sourceSize</key>
                <string>{325,55}</string>
            </dict>
            <key>frame_choosing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>frame_playerProfile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayerProfileSceneSpritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{1791,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc7bd8cb6f251681db8fdaf3ddc4129e:e09fb1c960907f0c597329769e1a67d3:f515ce0e236be1f64a6b6ccb8aba273e$</string>
            <key>textureFileName</key>
            <string>PlayerProfileSceneSpritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
