<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_AddCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,330},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_AddCoinC.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,330},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_FB.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,430},{194,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,37}}</string>
                <key>sourceSize</key>
                <string>{194,37}</string>
            </dict>
            <key>button_Play.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,387},{86,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,3},{86,31}}</string>
                <key>sourceSize</key>
                <string>{194,37}</string>
            </dict>
            <key>frameUser.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,330},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>profileC.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,186},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>selectionArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,420},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{34,17}</string>
            </dict>
            <key>selectionLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{332,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,9}}</string>
                <key>sourceSize</key>
                <string>{332,9}</string>
            </dict>
            <key>tabFriend_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{479,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,113}}</string>
                <key>sourceSize</key>
                <string>{479,113}</string>
            </dict>
            <key>tabFriend_FBlogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,308},{340,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,120}}</string>
                <key>sourceSize</key>
                <string>{340,120}</string>
            </dict>
            <key>tabFriend_FBloginC.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,186},{340,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,120}}</string>
                <key>sourceSize</key>
                <string>{340,120}</string>
            </dict>
            <key>tabFriend_FrameGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,91},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>tabFriend_FrameSilver.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>tabFriend_JoinGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,465},{152,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,43}}</string>
                <key>sourceSize</key>
                <string>{152,43}</string>
            </dict>
            <key>tabFriend_JoinGameC.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,465},{152,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,43}}</string>
                <key>sourceSize</key>
                <string>{152,43}</string>
            </dict>
            <key>tabFriend_StatusIngame.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,430},{113,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,22}}</string>
                <key>sourceSize</key>
                <string>{113,22}</string>
            </dict>
            <key>tabFriend_StatusOffline.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,469},{85,22}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,22}}</string>
                <key>sourceSize</key>
                <string>{113,22}</string>
            </dict>
            <key>tabFriend_StatusOnline.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,469},{101,22}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,22}}</string>
                <key>sourceSize</key>
                <string>{113,22}</string>
            </dict>
            <key>tabPlay_CreateRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,94},{456,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{456,90}}</string>
                <key>sourceSize</key>
                <string>{460,90}</string>
            </dict>
            <key>tabPlay_CreateRoomC.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{456,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{456,90}}</string>
                <key>sourceSize</key>
                <string>{460,90}</string>
            </dict>
            <key>tabPlay_JoinRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{456,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{456,90}}</string>
                <key>sourceSize</key>
                <string>{460,90}</string>
            </dict>
            <key>tabPlay_JoinRoomC.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{456,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{456,90}}</string>
                <key>sourceSize</key>
                <string>{460,90}</string>
            </dict>
            <key>tabPlay_QuickJoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{456,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{456,90}}</string>
                <key>sourceSize</key>
                <string>{460,90}</string>
            </dict>
            <key>tabPlay_QuickJoinC.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{456,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{456,90}}</string>
                <key>sourceSize</key>
                <string>{460,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RoomSelectionSpritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{1051,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71fc493de25bebf8221d23113ad8a88a:454e5bde5c6d23e486980d70e08658da:8eb911d7b9291f3a82f2442044b798de$</string>
            <key>textureFileName</key>
            <string>RoomSelectionSpritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
