<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popup_buttonClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{135,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,54}}</string>
                <key>sourceSize</key>
                <string>{135,54}</string>
            </dict>
            <key>popup_buttonCloseC.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{135,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,54}}</string>
                <key>sourceSize</key>
                <string>{135,54}</string>
            </dict>
            <key>popup_buttonJoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,59},{259,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,55}}</string>
                <key>sourceSize</key>
                <string>{259,55}</string>
            </dict>
            <key>popup_buttonJoinC.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{259,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,55}}</string>
                <key>sourceSize</key>
                <string>{259,55}</string>
            </dict>
            <key>popup_scrollThumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>popup_scrollTrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,104},{519,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,11}}</string>
                <key>sourceSize</key>
                <string>{519,11}</string>
            </dict>
            <key>popup_shopIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>popup_shopIconC.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>popup_textbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>popup_underline.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,117},{448,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,9}}</string>
                <key>sourceSize</key>
                <string>{448,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JoinRoomBetPopUpSpritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{1020,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff2a2f79e2712967e5b78ea64392f3b8:2f005c360d491760e1af754a8554e1c8:1d4a5983ac62e965da894ea6349d3376$</string>
            <key>textureFileName</key>
            <string>JoinRoomBetPopUpSpritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
