<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_loginFB.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,275},{456,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,89}}</string>
                <key>sourceSize</key>
                <string>{456,89}</string>
            </dict>
            <key>button_loginFBC.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,184},{456,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,89}}</string>
                <key>sourceSize</key>
                <string>{456,89}</string>
            </dict>
            <key>button_loginGuest.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,93},{456,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,89}}</string>
                <key>sourceSize</key>
                <string>{456,89}</string>
            </dict>
            <key>button_loginGuestC.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{456,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,89}}</string>
                <key>sourceSize</key>
                <string>{456,89}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{413,345}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{413,345}}</string>
                <key>sourceSize</key>
                <string>{433,365}</string>
            </dict>
            <key>logo_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{433,361}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{433,361}}</string>
                <key>sourceSize</key>
                <string>{433,365}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TitleSceneSpritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{1310,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09a0f243544462b9b81b656208e61286:dfecdb70d9e6506c528d90e3e7126548:dd6e25f8042a485e65168123e465aac3$</string>
            <key>textureFileName</key>
            <string>TitleSceneSpritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
